/* Sidebar Styles */
.sidebar {
  min-width: 250px;
  transition: all 0.3s ease-in-out;
}

.sidebar.collapsed {
  min-width: 80px; /* Reduced width when collapsed */
  overflow: hidden;
}

.sidebar .sidebar-header {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Adjust the content when the sidebar is collapsed */
.main-content.full-width {
  margin-left: 0; /* Adjust layout when sidebar is collapsed */
}

.main-content {
  transition: margin-left 0.3s ease-in-out;
}
